[Unit]
Description=Megafon Modem
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/wvdial megafon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
